useDynLib(PStrata, .registration=TRUE)
importFrom(Rcpp, evalCpp)
S3method(print, PStrata)
S3method(print, PSSummary.nonsurvival)
S3method(print, PSSummary.survival)
S3method(print, summary.PSSummary.nonsurvival)
S3method(print, summary.PSSummary.survival)
S3method(summary, PSSummary.nonsurvival)
S3method(summary, PSSummary.survival)
S3method(summary, PStrata)
S3method(plot, PStrata)
S3method(plot, PSSummary.nonsurvival)
S3method(plot, PSSummary.survival)
exportPattern("^[^\\.]")